* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(180deg, #060307 23.04%, #090a26 55.93%);
}

header {
  background-image: url(assets/Zhang-Yiwei-CGI-women-short-hair-purple-hair-blue-eyes-2185487-wallhere\ 1.svg);
  background-size: cover;
  color: #ffffff;
  position: relative;
  background-position: center;
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
}

.logo img {
  width: 178;
  height: 48;
  opacity: 1;
  top: 27px;
  left: 91px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  width: 940;
  height: 52;
  opacity: 1;
  top: 25px;
  left: 380.16px;
  gap: 25px;
}

.nav-bar nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-bar nav ul li a:hover {
  border-bottom: #ffffff 2px solid;
  padding-bottom: 10px;
}

.nav-bar nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar nav ul li {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.bar-cart {
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.sign-in button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  width: 150;
  height: 52;
  opacity: 1;
  gap: 10px;
  padding-top: 12px;
  padding-right: 39px;
  padding-bottom: 12px;
  padding-left: 39px;
}

.welcome {
  position: absolute;
  width: 900px;
  height: 327px;
  top: 250px;
  left: 179.16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.welcome h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.welcome p {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.button-dl {
  display: flex;
  width: 468;
  height: 48;
  opacity: 1;
  gap: 42px;
  padding-right: 6px;
  padding-left: 6px;
}

.prpl-bt {
  width: 220;
  height: 48;
  opacity: 1;
  gap: 10px;
  padding-top: 13px;
  padding-right: 33px;
  padding-bottom: 13px;
  padding-left: 33px;
  cursor: pointer;
  border: none;
  background-color: #5604ad;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.wht-bt {
  width: 220;
  height: 48;
  opacity: 1;
  gap: 10px;
  padding-top: 13px;
  padding-right: 33px;
  padding-bottom: 13px;
  padding-left: 33px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

footer {
  height: 497px;
  color: #ffffff;
  padding-top: 110px;
  border-top: #502356 1px solid;
}

.footer-pt {
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #502356 1px solid;
  padding-bottom: 110px;
}

.foot-logo-text {
  display: flex;
  flex-direction: column;
  width: 391px;
  height: 181px;
  opacity: 1;
  gap: 32px;
}

.foot-logo-text img {
  width: 91px;
  height: 48px;
  opacity: 1;
}

.foot-logo-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.socials {
  display: flex;
  width: 172px;
  height: 24px;
  opacity: 1;
  gap: 50px;
}

.socials img {
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}

.foot-column-wrap {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.foot-column-wrap h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.foot-column-wrap ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.foot-column-wrap ul li a {
  text-decoration: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.foot-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
}

.foot-footer p {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.foot-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.foot-footer ul li a {
  text-decoration: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
