* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: url(assets/Zhang-Yiwei-CGI-women-short-hair-purple-hair-blue-eyes-2185487-wallhere\ 1.svg);
  background-size: cover;
  color: #ffffff;
  position: relative;
  background-position: center;
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
}

.logo img {
  width: 178;
  height: 48;
  opacity: 1;
  top: 27px;
  left: 91px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  width: 940;
  height: 52;
  opacity: 1;
  top: 25px;
  left: 380.16px;
  gap: 25px;
}

.nav-bar nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-bar nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar nav ul li {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.bar-cart {
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.sign-in button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  width: 150;
  height: 52;
  opacity: 1;
  gap: 10px;
  padding-top: 12px;
  padding-right: 39px;
  padding-bottom: 12px;
  padding-left: 39px;
}

.welcome {
  position: absolute;
  width: 900px;
  height: 327px;
  top: 250px;
  left: 179.16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.welcome h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.welcome p {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.button-dl {
  display: flex;
  width: 468;
  height: 48;
  opacity: 1;
  gap: 42px;
  padding-right: 6px;
  padding-left: 6px;
}

.prpl-bt {
  width: 220;
  height: 48;
  opacity: 1;
  gap: 10px;
  padding-top: 13px;
  padding-right: 33px;
  padding-bottom: 13px;
  padding-left: 33px;
  cursor: pointer;
  border: none;
  background-color: #5604ad;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.wht-bt {
  width: 220;
  height: 48;
  opacity: 1;
  gap: 10px;
  padding-top: 13px;
  padding-right: 33px;
  padding-bottom: 13px;
  padding-left: 33px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
