* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(180deg, #060307 23.04%, #090a26 55.93%);
}

/* part that will be changed */

header {
  background-image: url(assets/Zhang-Yiwei-CGI-women-short-hair-purple-hair-blue-eyes-2185487-wallhere\ 1.svg);
  background-size: cover;
  color: #ffffff;
  background-position: center;
  height: 100vh;
}

/* till here i guess */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 90px;
  gap: 111px;
}

.logo img {
  width: 178px;
  height: 48px;
  opacity: 1;
  top: 27px;
  left: 91px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  height: 52px;
  opacity: 1;
  gap: 25px;
}

.nav-bar nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-bar nav ul li a:hover {
  border-bottom: #ffffff 2px solid;
  padding-bottom: 10px;
}

.nav-bar nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar nav ul li {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.bar-cart {
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.sign-in button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
  height: 52px;
  opacity: 1;
  gap: 10px;
  padding-top: 12px;
  padding-right: 39px;
  padding-bottom: 12px;
  padding-left: 39px;
}

@media (max-width: 1000px) {
  .nav-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-bar {
    justify-content: center;
    gap: 20px;
  }
}

.welcome {
  position: absolute;
  max-width: 1081px;
  height: 327px;
  top: 348px;
  margin-left: 179.16px;
  margin-right: 179.16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.welcome h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.welcome p {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.button-dl {
  display: flex;
  width: 468;
  height: 48;
  opacity: 1;
  gap: 42px;
  padding-right: 6px;
  padding-left: 6px;
}

.prpl-bt {
  width: 220;
  height: 48;
  opacity: 1;
  gap: 10px;
  padding-top: 13px;
  padding-right: 33px;
  padding-bottom: 13px;
  padding-left: 33px;
  cursor: pointer;
  border: none;
  background-color: #5604ad;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.wht-bt {
  width: 220;
  height: 48;
  opacity: 1;
  gap: 10px;
  padding-top: 13px;
  padding-right: 33px;
  padding-bottom: 13px;
  padding-left: 33px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

footer {
  height: 497px;
  color: #ffffff;
  padding-top: 110px;
  border-top: #502356 1px solid;
}

.footer-pt {
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #502356 1px solid;
  padding-bottom: 110px;
}

.foot-logo-text {
  display: flex;
  flex-direction: column;
  width: 391px;
  height: 181px;
  opacity: 1;
  gap: 32px;
  padding-right: 50px;
}

.foot-logo-text img {
  width: 91px;
  height: 48px;
  opacity: 1;
}

.foot-logo-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.socials {
  display: flex;
  width: 172px;
  height: 24px;
  opacity: 1;
  gap: 50px;
}

.socials img {
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}

.foot-column-wrap {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.foot-column-wrap h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.foot-column-wrap ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.foot-column-wrap ul li a {
  text-decoration: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.nav-col,
.sup-col,
.part-col {
  width: 184px;
  height: 210px;
  gap: 25px;
}

@media (max-width: 1000px) {
  .footer-pt {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.foot-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
}

.foot-footer p {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.foot-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.foot-footer ul li a {
  text-decoration: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

/* calculated myself ))) (5057-497-595-616-713-656-176-1024)/6 */
section {
  margin-top: 130px;
}

.social-pad-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 1440;
  height: 176;
  opacity: 1;
}

.social-pad-wrap p {
  color: #ffffff;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.socials-wrp {
  display: flex;
  justify-content: center;
  height: 152px;
  opacity: 1;
  top: 45px;
  gap: 20px;
}

.img-box-pt {
  width: 183px;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box-pt img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  cursor: pointer;
}

/* implant stuff */

.implant-pad-wrap {
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: 656px;
  width: auto;
}

.implant-pad-wrap p {
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 90px;
}

.implant-crd-wrp {
  display: flex;
  justify-content: center;
  height: 537px;
  opacity: 1;
  gap: 20px;
  margin-left: 81px;
  margin-right: 81px;
}

.impl-card {
  max-width: 386px;
  height: 537px;
  opacity: 1;
  border: solid 3px #e15cf2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.impl-card img {
  width: 283px;
  height: 246px;
  margin-top: 60px;
}

.impl-card h3 {
  color: white;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 14px;
}

.impl-card p {
  color: white;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 49px;
}

/* for this i did use the previous code nearly the same but since there were few extra details i wrote it one more time */

.poplr-implants-wrap {
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: 713px;
  width: auto;
}

.poplr-implants-wrap p {
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 90px;
  text-align: center;
}

.most-pop-wrper {
  display: flex;
  justify-content: center;
  height: 594px;
  opacity: 1;
  gap: 20px;
}

.pop-card-wrp {
  max-width: 386px;
  height: 537px;
  opacity: 1;
  border: solid 3px #6892ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.pop-card-wrp img {
  width: 283px;
  height: 246px;
  margin-top: 60px;
}

.pop-card-wrp h3 {
  color: white;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 14px;
}

.pop-card-wrp p {
  color: white;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 49px;
}

.arrow-left img,
.arrow-right img {
  max-width: 100px;
  height: 100px;
  cursor: pointer;
  object-fit: none;
  margin-top: 219px;
}

.arrow-left {
  margin-left: 21px;
}

.arrow-right {
  margin-right: 21px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}

/* we continue from here. next section - */

.we-are-who {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 616px;
  position: relative;
}

.we-are-who h3 {
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 90px;
}

.wmn-glasses-wrp {
  background-image: url(assets/wmn-glasses.svg);
  height: 497px;
  width: 100%;
}

.glasses-col {
  display: flex;
  flex-direction: column;
  /* right: 122px; */
  height: 323px;
  width: 320px;
  align-items: center;
  gap: 41px;
  position: absolute;
  top: 206px;
  left: calc(80vw - 180px);
}

.glasses-col p {
  color: #ffffff;
  width: 320px;
  height: 234px;
  /* top: 206px;
left: 998.34px; */
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 39px;
  letter-spacing: 0%;
  text-align: center;
}

.glasses-col button {
  width: 194px;
  height: 48px;
  gap: 10px;
  padding: 13px 33px;
  cursor: pointer;
  border: none;
  background-color: #5604ad;
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* member part */

.memb-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
  padding-inline: 20px; /* prevent horizontal scroll on small screens */
  box-sizing: border-box;
}

.memb-wrapper h3 {
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 90px;
}

.group-wrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.mem-part1,
.mem-part2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 1250px) {
  .group-wrp {
    flex-direction: column;
    align-items: center;
  }

  .mem-part1,
  .mem-part2 {
    flex-direction: row;
    gap: 40px;
  }
}
.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 476px;
  width: 285px;
}

.member-card img {
  width: 285px;
  height: 327px;
  cursor: pointer;
}

.member-card h4 {
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 85px;
}

.member-card p {
  color: #ffffff;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 24px;
}
